@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Young Serif", serif;
  /* font-family: "Outfit", sans-serif; */
  background-color: hsl(30, 54%, 90%);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  /* background-color: #fff; */
  background-color: hsl(330, 100%, 98%);
  width: 520px;

  /* height: 700px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  /* align-items: center; */
  border-radius: 20px;
  padding: 1.3rem 2.1rem;
}

img {
  width: 450px;
  border-radius: 10px;
  display: block;
  border: 2px red solid;
}

h2 {
  /* color: hsl(332, 51%, 32%); */
  color: hsl(14, 45%, 36%);
  /* font-weight: 700; */
  margin-bottom: 5px;
  font-family: "Outfit", sans-serif;
}

ul li {
  line-height: 1.5;
}

.first-section p {
  margin-top: 10px;
  color: hsl(30, 10%, 34%);
  /* font-weight: bold; */
  /* font-weight: 600; */
}

.second-section {
  /* background-color: red; */
  /* padding: 1rem 0rem; */
  border-radius: 10px;
  font-family: "Outfit", sans-serif;
}

.second-section li,
.forth-section p {
  color: hsl(24, 5%, 18%);
  font-weight: 700;
}

.second-section li span,
.third-section li {
  color: hsl(30, 10%, 34%);
  font-family: "Outfit", sans-serif;
}

.forth-section p {
  margin-top: 10px;
  line-height: 1.3;
  /* color: hsl(332, 51%, 32%); */
  color: hsl(14, 45%, 36%);
  font-family: "Outfit", sans-serif;
}

.shs {
  color: hsl(24, 5%, 18%);
  font-family: "Outfit", sans-serif;
}

.forth-section .nn {
  /* color: hsl(30, 10%, 34%); */
  color: hsl(30, 10%, 34%);
  font-family: "Outfit", sans-serif;
}

.fifth-section p {
  margin-top: 10px;
  color: hsl(30, 10%, 34%);
}

.value-name {
  margin-top: 25px;
}

.value-name p {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* gap: 30px; */
  margin-top: 10px;
  margin-bottom: 10px;
  color: hsl(30, 10%, 34%);
}
.value-name p span {
  margin-right: 120px;
  /* color: hsl(332, 51%, 32%); */
  color: hsl(14, 45%, 36%);

  font-weight: 700;
}

.attribution {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
  body {
    /* padding: 0; */
  }
  main {
    width: 400px;
  }
  img {
    width: 350px;
  }
  .second-section {
  }
  .value-name p span {
    margin-right: 150px;
  }
}
